@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import "../../style.scss";

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: $base-color;
    height: 100vh;
    width: 100%;
}
.container {
    max-width: 1400px;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgba(92, 99, 105, 0.15);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #f4815a;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    background-color: #133853;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 90%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #f4815a;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}


section {
    background-color: $accent-color;
    padding: 1rem;
    h2 {
        padding-left: 40px;
        width: 90%;
        display: block;
        margin: auto;
        max-width: 1400px;
    }
    

    .wrap {
        max-width: 1400px;
        width: 90%;
        margin: auto;
        background-color: $accent-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .box {
            position: relative;
            margin: 10px;
            width: 250px;
            height: 350px;
            text-align: center;
            background: url("https://source.unsplash.com/900x920");
            background-repeat: no-repeat;

            background-size: cover;
            background-position: center;
            border-radius: 3px;
            -webkit-transition: 200ms ease-in-out;
            -o-transition: 200ms ease-in-out;
            transition: 200ms ease-in-out;
            -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

            .rating {
                background: rgb(55, 182, 23);
                width: 50px;
                height: 50px;
                margin: auto;
                border-radius: 50%;
                line-height: 43px;
                border: 3px solid rgba(255, 255, 255, 0.466);
                color: white;
                box-shadow: 0px 0px 10px black;
                position: absolute;
                bottom: 30px;
                left: 103px;
                font-weight: 600;

            }
            .date h4 {
                color: #fff;
                font-weight: 500;
                text-align: center;
                text-shadow: 0 0 3px rgb(0, 0, 0);
                background-color: rgba(27, 26, 26, 0.137);
            }
        }

        .box h1 {
            color: $head-color;
            padding: 30px;
            margin-top: 100px;
            text-align: center;
            font-weight: 200;
            font-size: 25px;
            background: rgba(0, 0, 0, 0.521);
            -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
        }
    }
}


// Footer
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $accent-color;
    color: #f4815a;
    box-shadow: 0 1px 4px rgba(99, 109, 119, 0.65);
    text-align: center;
    padding: 10px;
}