@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    max-height: 100%;
}

//Search bar
#searching {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin-top: 60px;
}

:root {
    --rad: .7rem;
    --dur: 1s;
    --color-dark: #f4815a;
    --color-light: #fff;
    --color-brand: #133853;
    --font-fam: 'Lato', sans-serif;
    --height: 3rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

form {
    // position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}

input,
button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
}

input[type="search"] {
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    // position: relative;
}

button {
    display: none;
    // position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));

    +button {
        display: block;
    }
}

label {
    // position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


#scrollResult {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    height: 200px;
    margin: 10px 20px;
    // overflow-x: scroll;
    // scroll-behavior: smooth;
}

// #scrollResult::-webkit-scrollbar-track {
//     background: #133853;
// }

// #scrollResult::-webkit-scrollbar-thumb {
//     background-color: #f4815a;
//     border-radius: 20px;
// }

#cardSection {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    #firstSection {
        display: flex;
        flex-direction: row;
        margin: 20px;
        max-height: 100%;
    }

    #secondSection {
        display: flex;
        flex-direction: row;
        margin: 20px;
        max-height: 100%;
    }

    .seriesCard {
        width: 400px;
        max-height: 100%;
        margin: 20px;

    }
}

img {
    max-width: 100%;
    max-height: 50%;
    border-radius: 10px;
}

//Responsive
@media only screen and (max-width: 900px) {
    .container {
        display: grid;
    }

    // #scrollResult {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fill, 260px);
    // }

    #cardSection {
        display: grid;


        #firstSection {
            display: grid;
            grid-template-columns: repeat(auto-fill, 260px);
            // margin: 10px;
        }

        #secondSection {
            display: grid;
            grid-template-columns: repeat(auto-fill, 260px);
            // margin: 10px;
        }

        // .seriesCard {
        //     width: 400px;
        //     max-height: 100%;
        //     margin: 20px;

        // }
    }

}