@import "../../style.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


* {

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $base-color;
    color: $head-color;
}
section{
    .wrapper {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}
.card {
    max-width: 20vw;
    height: auto;
    background: $accent-color;
    border: 2px solid $accent-color;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    overflow: hidden;
    position: relative;
    display: inline-block;
    
}

.card img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.descriptions {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $accent-color;
    width: 100%;
    height: 100%;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-clip-path: circle(0% at 100% 100%);
    clip-path: circle(0% at 100% 100%);
}

.card:hover .descriptions {
    left: 0px;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    -webkit-clip-path: circle(75%);
    clip-path: circle(75%);
}

.card:hover {
    -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.card:hover img {
    -webkit-transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -webkit-transform: scale(1.6) rotate(20deg);
    transform: scale(1.6) rotate(20deg);
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.card h1 {
    color: $head-color;
    letter-spacing: 1px;
    margin: 0px;
}

.card p {
    //line-height: 24px;
    height: auto;
    color: $font-color;
    word-wrap: break-word;
    overflow:auto;
}

.card button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color: #fff;
    font-size: 15px;
    outline: none;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.card button:hover {
    -webkit-transform: scale(0.95) translateX(-5px);
    transform: scale(0.95) translateX(-5px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.genrelist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}