@import "../../style.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px){
    body {
        background-color: $base-color;
        color: $head-color;
        width: 100%;
        height: 100%;
        margin-left: 10vw;
        align-content: center;
        align-items: center;
    }
    section{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .carrouselTitle {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box img{
        max-width: 60%;
        margin:1rem;

    }
    h1{
        color: $head-color;
    }
    p{
        color: $font-color;
    }
    a{
        text-decoration: none;
        border: 1px solid $head-color;
        color: $head-color;
        padding: 1rem;
    }
}
@media only screen and (min-width: 600px){
    
}
